// Medium screen
@mixin media-md {
    @media screen and (max-width: 767px) {
        @content; //when we call this mixin whatever content will be passed in this meadia querry
    }
}

// Small screen
@mixin media-sm {
    @media screen and (max-width: 512px) {
        @content; //when we call this mixin whatever content will be passed in this meadia querry
    }
}