.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;

    h2 {
        font-size: 1rem;
    }
}

.product {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    min-height: 10rem;
    padding: 1rem;
    border: 1px solid #cecece;
    border-radius: 0.2rem;

    text-align: center;
}

.markOfDeath {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

#createProduct, #createProduct fieldset {
    display: grid;
    grid-template-columns: 1fr 2fr;
    row-gap: 0.5rem;
    align-items: center;
}

#createProduct {
    margin: auto;
    width: 40%;

    label {
        grid-column: 1;
    }

    label.error, label.info {
        color: $error-color;
        grid-column: 2;
    }

    input, select {
        grid-column: 2;
        display: block;
    }

    fieldset {
        grid-column: 1 / span 2;
        border: 0;
    }

    fieldset .description {
        grid-column: 1 / span 2;
        font-style: italic;
        color: $info-color;
    }

    // Hide submit button
    input[type=submit] {
        display: none;
    }

    input, select {
        padding: 0.5rem;
        background-color: #fff;
        border: 1px solid #c7c7c7;
        border-radius: 0.2rem;
    }
}

@include media-md {
    .product-list {
        grid-template-columns: repeat(3, 1fr);
    }

    #createProduct {
        width: 80%;
        padding: 0 1rem;
    }
}

@include media-sm {
    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }

    #createProduct {
        width: 100%;
        padding: 0 1rem;
    }
}
