@import 'variables';
@import 'defaults';
@import 'mediaQuery';
@import 'product';

.container {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

main > header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 2px #cecece;
}

header nav > * {
    margin-right: 0.5rem;
}

.page-title {
    color: #444444;
}

#status {
    position: fixed;
    bottom: 0;
    right: 0;

    width: 35%;

    .message {
        margin: 0 0.5rem 0.5rem 0.5rem;
        padding: 0.5rem;
        position: relative;
        text-align: left;
        font-weight: 900;
        color: $info-color;
        background: linear-gradient(to bottom right, #f4f4f4, #f1f1f1);
        border: 1px solid $info-color;
        border-radius: 0.2rem;

        &.error {
            color: $error-color;
            border-color: $error-color;
        }
    }
}

.button {
    display: inline-block;
    font-size: 1rem;
    padding: 0.5rem;
    text-decoration: none;
    text-align: center;
    font-weight: 900;
    color: #444444;
    background: linear-gradient(to bottom right, #f4f4f4, #f1f1f1);
    border: 1px solid #cecece;
    border-radius: 0.2rem;

    &:hover {
        cursor: pointer;
        background: linear-gradient(to bottom right,#f8f8f8, #e4e4e4);
    }

    &:focus {
        outline-color: -webkit-focus-ring-color;
        outline-style: auto;
        outline-width: 1px;
    }
}

footer {

    margin-top: 1.5rem;
    padding: 1rem;
    border-top: solid 2px #cecece;

    p {
        text-align: center;
    }
}

// Media queries
@include media-md {
    html {
        font-size: 14px;
    }

    #status {
        width: 50%;
    }
}

@include media-sm {
    html {
        font-size: 12px;
    }

    #status {
        width: 100%;
    }
}